<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<% @pages.each do |page| %>
  <%= page.title %>
  <%= link_to 'Show Page', page_path(page) %>
<% end %>

<%= link_to 'New Page', new_page_path %>



<!-- erb embedded ruby --|!-- erb embedded ruby -->
<!-- <%# <%non-echoing tag %|!-->